{% extends 'base.html' %}
{% load static %}
<title>{% block title %}{{websitename}} - Contact{% endblock %}</title>


{% block content %}
<!-- PRE LOADER -->
<div class="container mt-5">
     <nav aria-label="breadcrumb">
         <ol class="breadcrumb" style="display: flex; flex-wrap: wrap;">
             {% for breadcrumb in breadcrumbs %}
                 <li class="breadcrumb-item">
                     <a href="{{ breadcrumb.url }}"><ion-icon name="logo-web-component"></ion-icon>{{ breadcrumb.title }}</a>
                 </li>
             {% endfor %}
         </ol>
     </nav>
 </div>
<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>


<!-- Home Section -->

<section id="home" class="main-contact parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Contact Us</h1>
               </div>

          </div>
     </div>
</section>

<!-- Contact Section -->

<section id="contact">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h2>Say hello..</h2>
                    <p>Say Hello and give us feedback how we are doing in order to give you informations</p>

                    <form action="" method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         <div class="col-md-4 col-sm-4">
                              <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                         </div>
                         <div class="col-md-4 col-sm-4">
                              <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                      	 </div>
                         <div class="col-md-4 col-sm-4">
                              <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
                      	 </div>
                         <div class="col-md-12 col-sm-12">
                              <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
                         </div>
                         <div class="col-md-3 col-sm-6">
                              <input name="submit" type="submit" class="form-control" id="submit" value="Send">
                         </div>
                    </form>
               </div>

          </div>
     </div>
     <center>
     {% if messages %}
     {% for message in messages %}
          <div class="{{ message.tags }}" role="alert">
               <strong>Message !</strong> {{ message }}
               <button type="button"  role="alert"></button>
          </div>
     {% endfor %}
     {% endif %}
     </center>
</section>

{% endblock %}