{% extends 'base.html' %}
{% load static %}
<title>{% block title %}{{websitename}} | Gallery Showcase {% endblock %}</title>


{% block content %}
<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>
<div class="container mt-5">
     <nav aria-label="breadcrumb">
         <ol class="breadcrumb" style="display: flex; flex-wrap: wrap;">
             {% for breadcrumb in breadcrumbs %}
                 <li class="breadcrumb-item">
                     <a href="{{ breadcrumb.url }}"><ion-icon name="logo-web-component"></ion-icon>{{ breadcrumb.title }}</a>
                 </li>
             {% endfor %}
         </ol>
     </nav>
 </div>

<!-- Home Section -->

<section id="home" class="main-gallery parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Image Gallery</h1>
               </div>

          </div>
     </div>
</section>

<!-- Gallery Section -->

<section id="gallery">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h2>Beautiful Images with Magnific Popup..</h2>
                    <p>You can View Images form here </p>
                    <p>If you want you can make them your wallpaper.They are free to use</p>
                    <span></span>
                    {% for j in page_obj %}
                    <div class="col-md-6 col-sm-6">
                         <div class="gallery-thumb">
                              <a href="{{ j.photo.url }}" class="image-popup">
                                   <img src="{{ j.photo.url }}" class="img-responsive" alt="Gallery Image">
                              </a>
                         </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-12 col-sm-12">
                         <p>Beauty is not ended here you can go to different pages from below and get an wallpaper you like</p>
                    </div>
               </div>
          </div>
          <center>
               {% if page_obj.has_previous %}
                   <a href="?page=1">&laquo First</a>
                   <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
               {% endif %}
               Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
               {% if page_obj.has_next %}
               <a href="?page={{ page_obj.next_page_number }}">Next</a>
               <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a>
           {% endif %}
          </center>

     </div>
</section>
{% endblock %}