{% extends 'base.html' %}
{% load static %}
<title>{% block title %} {{websitename}} | Home page for blog showcase and read{% endblock %}</title>
{% block content %}

<div class="container mt-5">
     <nav aria-label="breadcrumb">
         <ol class="breadcrumb" style="display: flex; flex-wrap: wrap;">
             {% for breadcrumb in breadcrumbs %}
                 <li class="breadcrumb-item">
                     <a href="{{ breadcrumb.url }}"><ion-icon name="logo-web-component"></ion-icon>{{ breadcrumb.title }}</a>
                 </li>
             {% endfor %}
         </ol>
     </nav>
 </div>
<!-- Home Section -->

<section id="home" class="main-home parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Hello! This is {{websitename}}</h1>
                    <h4>A Robotics and Tech blogging site</h4>
                    <a href="#blog" class="smoothScroll btn btn-default">Discover More</a>
               </div>

          </div>
     </div>
</section>

<!-- Blog Section -->

<section id="blog">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
               {% for i in page_obj %}
                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="{% url 'article-detail' i.category i.slug %}">
                                   <img src="{{ i.thumbnail.url }}" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="{% url 'article-detail' i.category i.slug %}">{{ i.title }}</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="{{ i.thumbnail.url }}" class="img-responsive img-circle">{{ i.author.username }}</a></span>
                              <span><ion-icon name="calendar-outline"></ion-icon>{{ i.created }}</span>
                              <!--<span><a href="#"><i class="fa fa-comment-o"></i> </a></span>-->
                         </div>
                         <div class="blog-post-des">
                              <p>{{ i.content|safe|striptags|truncatechars:300 }}</p>
                              <a href="{% url 'article-detail' i.category i.slug %}" class="btn btn-default">Continue reading<ion-icon name="chevron-forward"></ion-icon></a>
                         </div>
                    </div>
               {% endfor %}
                    <center>
                         {% if page_obj.has_previous %}
                             <a href="?page=1">&laquo First</a>
                             <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                         {% endif %}
                         Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                         {% if page_obj.has_next %}
                         <a href="?page={{ page_obj.next_page_number }}">Next</a>
                         <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a>
                     {% endif %}
                    </center>
               </div>

          </div>
     </div>
</section>
    
{% endblock %}