{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="icon" type="images/x-icon" href="{%  static 'images/favicon.ico' %}">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>{{websitename}} | Home page for blog showcase and read</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="{% url 'indexpage' %}" class="navbar-brand">{{websitename}}</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{% url 'indexpage' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
               </ul>
          </div>

  </div>
</div>

<!-- Home Section -->

<section id="home" class="main-home parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Hello! This is {{websitename}}</h1>
                    <h4>A Robotics and Tech blogging site</h4>
                    <a href="#blog" class="smoothScroll btn btn-default">Discover More</a>
               </div>

          </div>
     </div>
</section>

<!-- Blog Section -->

<section id="blog">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
               {% for i in page_obj %}
                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="{% url 'article-detail' i.slug %}">
                                   <img src="{{ i.thumbnail.url }}" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="{% url 'article-detail' i.slug %}">{{ i.title }}</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="{{ i.thumbnail.url }}" class="img-responsive img-circle">{{ i.author.username }}</a></span>
                              <span><ion-icon name="calendar-outline"></ion-icon>{{ i.created }}</span>
                              <!--<span><a href="#"><i class="fa fa-comment-o"></i> </a></span>-->
                         </div>
                         <div class="blog-post-des">
                              <p>{{ i.content|safe|striptags|truncatechars:300 }}</p>
                              <a href="{% url 'article-detail' i.slug %}" class="btn btn-default">Continue reading<ion-icon name="chevron-forward"></ion-icon></a>
                         </div>
                    </div>
               {% endfor %}
                    <center>
                         {% if page_obj.has_previous %}
                             <a href="?page=1">&laquo First</a>
                             <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                         {% endif %}
                         Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                         {% if page_obj.has_next %}
                         <a href="?page={{ page_obj.next_page_number }}">Next</a>
                         <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a>
                     {% endif %}
                    </center>
               </div>

          </div>
     </div>
</section>

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>{{websitename}}</h3>
                    <p>A robotics and Tech blogging site updated daily</p>
                    <div class="footer-copyright">
                         <p>Copyright &copy; 2023 {{websitename}}- Design: Team</p>
                    </div>
               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Talk to us</h3>
                    <p><i class="fa fa-globe"></i> 512 Delicious Street, San Francisco, CA 10880</p>
                    <p><i class="fa fa-phone"></i> 010-020-0990</p>
                    <p><i class="fa fa-save"></i> info@company.com</p>
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="#" class=""><ion-icon name="logo-facebook"></ion-icon></a></li>
                         <li><a href="#" class=""><ion-icon name="logo-behance"></ion-icon></a></li>
                         <li><a href="#" class=""><ion-icon name="logo-dribbble"></ion-icon></a></li>
                         <li><a href="#" class=""><ion-icon name="logo-instagram"></ion-icon></a></li>
                         <li><a href="#" class=""><ion-icon name="play-outline"></ion-icon></a></li>
                    </ul>
               </div>
               
          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><ion-icon name="chevron-up-outline"></ion-icon></a>

<!-- SCRIPTS -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/jquery.parallax.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>